<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="tailwind.css">
	<!-- polyfill -->
	<script src="inc/shim/Base64.js" type="text/javascript"></script>
	<script src="inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="js/midi/gm.js" type="text/javascript"></script>
	<script src="js/midi/loader.js" type="text/javascript"></script>
	<script src="js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<!-- utils -->
	<script src="js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="js/util/dom_request_script.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="chart.min.js" type="text/javascript"></script>
	<style>
		.accidentals-container {
			width: 960px;
			display: grid;
			grid-template-columns: repeat(42, 1fr);
			height: 66%;
			justify-items: center;
		}

		.accidentals-container button {
			width: 58px;
			background: #1b1b1e;
			border: 1px solid #fff;
			border-radius: 0 0 4px 4px;
			cursor: pointer;
			top: -299px;
			position: relative;
			z-index: 1;
			border-top: none;
			color: white;
		}


		.accidentals-container button.C {
			grid-column: 6 / span 2;
		}

		.accidentals-container button.D {
			grid-column: 12 / span 3;
		}

		.accidentals-container button.F {
			grid-column: 25 / span 2;
		}

		.accidentals-container button.G {
			grid-column: 31 / span 2;
		}

		.accidentals-container button.A {
			grid-column: 37 / span 1;
		}


		.naturals-container {
			width: 960px;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			height: 300px;
		}

		.naturals-container button {
			background: #fff;
			border: 1px solid #1b1b1e;
			border-radius: 0 0 6px 6px;
		}

		button {
			cursor: pointer;
		}

		button:active,
		button:focus {
			border: 3px solid #4fb7ec;
			outline: rgba(225, 225, 225, 0);
		}

		.naturals-container p {
			font-size: 1.75em;
			top: 100px;
			position: relative;
			text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
			color: #1b1b1e;
		}
	</style>
	<script type="text/javascript">
		"use strict";
		var $ = document.querySelector.bind(document);
		var $$ = document.querySelectorAll.bind(document);
		let app;

		document.addEventListener('DOMContentLoaded', () => {
			let barChartData = {
			labels: [9,8,7,6,5,4,3,2,1,0],
			datasets: [{
				label: 'correct',
				backgroundColor: 'rgb(54, 162, 235)',
				data: [
					10
				]
			},{
				label: 'incorrect',
				backgroundColor: 'rgb(255, 99, 132)',
				data: [
					5
				]
			}]

		};
			let init = soundfont => {
				MIDI.loadPlugin({
					soundfontUrl: "soundfont/",
					instrument: [soundfont],
					onprogress: function (state, progress) {
						console.log(state, progress);
					},
					onsuccess: function () {
						MIDI.programChange(0, MIDI.GM.byName[soundfont].number);
						let ctx = document.getElementById('stat').getContext('2d');
						window.myBar = new Chart(ctx, {
							type: 'bar',
							data: barChartData,
							options: {
								title: {
									display: true,
									text: 'Chart.js Bar Chart - Stacked'
								},
								tooltips: {
									mode: 'index',
									intersect: false
								},
								responsive: true,
								scales: {
									xAxes: [{
										stacked: true,
									}],
									yAxes: [{
										stacked: true
									}]
								}
							}
						});
					}
				});
			};

			// init('acoustic_grand_piano');
			app = new Vue({
				el: '#main',
				data: { 'mydata': {} },
				methods: {
					changeinstrument: function (s) {
						init(this.mydata.myinstrument);
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					togglenote: function (n) {
						this.mydata.notes[n] = !this.mydata.notes[n];
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					newround: function () {
						let candidate = Object.entries(this.mydata.notes).filter(o => o[1] == true).map(o => o[0]);
						let tmp = Object.entries(MIDI.keyToNote).filter(o => candidate.filter(c => o[0].match(new RegExp(c + '[2-6]'))).length > 0);
						let answer = tmp[getRandomInt(tmp.length)];
						this.mydata.answercode = answer[0];
						this.mydata.ans = answer[0].match(/(^[A-Za-z]+)\d/)[1];
						this.mydata.ansno = answer[1];
						this.mydata.ansstatus = Object.entries(this.mydata.notes).filter(o => o[1] == true).map(o => o[0]).reduce((a, o) => {
							a[o] = 'notanswered';
							return a;
						}, {});
						this.mydata.god = 'notanswered';
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					hearnext: function () {
						this.mydata.previousno = this.mydata.ansno;
						this.mydata.history.push({ d: new Date().toISOString().substring(0, 10), answercode: this.mydata.answercode, god: this.mydata.god.substr(1) });
						this.drawstat();
						this.newround();
						MIDI.noteOn(0, this.mydata.ansno, 127, 0);
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					drawstat :function(){
						barChartData.datasets[0].data=Array.from({length: 10}, (_, i) => {let d=new Date();d.setDate(d.getDate()-i);return d.toISOString().substring(0,10);} ).reverse().map(o=>this.mydata.history.filter(h=>h.d==o&&h.god=='correct').length);
						barChartData.datasets[1].data=Array.from({length: 10}, (_, i) => {let d=new Date();d.setDate(d.getDate()-i);return d.toISOString().substring(0,10);} ).reverse().map(o=>this.mydata.history.filter(h=>h.d==o&&h.god=='incorrect').length);
						window.myBar.update();
					},
					hearagain: function () {
						MIDI.noteOn(0, this.mydata.ansno, 127, 0);
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					answer: function (e) {
						if (this.mydata.god == 'notanswered') {
							this.mydata.total++;
							this.mydata.grandtotal[this.mydata.answercode]++;
						}
						if (this.mydata.ans == e.target.innerText) {
							this.mydata.ansstatus[e.target.innerText] = 'correct';
							if (this.mydata.god == 'notanswered') {
								this.mydata.correctanswered++;
								this.mydata.grandcorrect[this.mydata.answercode]++;
								this.mydata.god = 'correct';
							}
							this.mydata.god = '-' + this.mydata.god;
							this.mydata.message = 'Nice! "' + this.mydata.ans + '" is correct';
							if (this.mydata.autoproceed == true) {
								this.hearnext();
							}
						}
						else {
							this.mydata.ansstatus[e.target.innerText] = 'wrong';
							this.mydata.message = 'Nope, "' + e.target.innerText + '" is not correct.';
							this.mydata.god = 'incorrect';
						}
						localStorage.setItem('mydata', JSON.stringify(this.mydata));
					},
					resetcounter: function () {
						this.mydata = {
							notes: this.mydata.notes,
							ans: '',
							ansno: 0,
							previousno: 0,
							god: 'notanswered',
							ansstatus: {},
							answercode: '',
							correctanswered: 0,
							total: 0,
							message: '',
							autoproceed: this.mydata.autoproceed,
							myinstrument: this.mydata.myinstrument,
							grandtotal: Object.entries(MIDI.keyToNote).reduce((a, o) => { a[o[0]] = 0; return a; }, {}),
							grandcorrect: Object.entries(MIDI.keyToNote).reduce((a, o) => { a[o[0]] = 0; return a; }, {}),
							history: [],
							version: '0.0',
						};
						this.newround();
					},
				},
				created: function () {
					if (localStorage.hasOwnProperty('mydata') == true) {
						this.mydata = JSON.parse(localStorage.getItem('mydata'));
					}
					let helloworld = false;
					if (localStorage.hasOwnProperty('mydata') == false || this.mydata.version != '0.0') {
						this.mydata = {
							notes: { 'A': true, 'Bb': false, 'B': false, 'C': true, 'Db': false, 'D': true, 'Eb': false, 'E': true, 'F': false, 'Gb': false, 'G': true, 'Ab': false },
							ans: '',
							ansno: 0,
							previousno: 0,
							god: 'notanswered',
							ansstatus: {},
							answercode: '',
							correctanswered: 0,
							total: 0,
							message: '',
							autoproceed: false,
							myinstrument: 'acoustic_grand_piano',
							grandtotal: Object.entries(MIDI.keyToNote).reduce((a, o) => { a[o[0]] = 0; return a; }, {}),
							grandcorrect: Object.entries(MIDI.keyToNote).reduce((a, o) => { a[o[0]] = 0; return a; }, {}),
							history: [],
							version: '0.0',
						};
						helloworld = true;
					}
					init(this.mydata.myinstrument);
					if (helloworld == true) {
						this.newround();
					}
					localStorage.setItem('mydata', JSON.stringify(this.mydata));
					this.drawstat();
				}
			});
		});
		function getRandomInt(max) {
			return Math.floor(Math.random() * Math.floor(max));
		}
	</script>
</head>

<body>
	<div class="flex justify-center pt-4" id="main">
		<div class="max-w-screen-md w-full">
			<div class="font-semibold uppercase tracking-wide text-center pb-12">Perfect Pitch Test</div>

			<div class="text-center">{{mydata.correctanswered}} out of {{mydata.total}} correct</div>
			<div class="flex justify-center">
				<div v-bind:class="['px-4 py-2 mx-2 rounded rounded-sm border border-gray-400 cursor-pointer bg-blue-600 hover:bg-blue-700 text-white'+(mydata.god[0]=='-'?'':' hidden')]"
					v-on:click="hearnext">
					Hear Next</div>
				<div class="px-4 py-2 mx-2 rounded rounded-sm border border-gray-400 cursor-pointer hover:bg-gray-300"
					v-on:click="hearagain">
					Hear Again</div>
			</div>
			<div class="text-center">{{mydata.message}}</div>
			<div class="font-semibold uppercase tracking-wide text-center py-8">Choice</div>
			<div class="flex justify-center">
				<div v-bind:class="['px-3 py-2 mx-1 my-1 text-sm cursor-pointer text-white rounded rounded-sm '+(mydata.ansstatus[n]=='notanswered'?'bg-blue-600 hover:bg-blue-700':mydata.ansstatus[n]=='correct'?'bg-green-600 hover:bg-green-700':'bg-red-600 hover:bg-red-700')]"
					v-for="n in Object.keys(mydata.notes).filter(k=>mydata.notes[k]==true)" v-on:click="answer">{{n}}
				</div>
			</div>
			<div class="flex justify-center">
				<div class="keyboard-container">
					<div class="naturals-container">
						<button v-on:click="answer">
							<p>C</p>
						</button>
						<button v-on:click="answer">
							<p>D</p>
						</button>
						<button v-on:click="answer">
							<p>E</p>
						</button>
						<button v-on:click="answer">
							<p>F</p>
						</button>
						<button v-on:click="answer">
							<p>G</p>
						</button>
						<button v-on:click="answer">
							<p>A</p>
						</button>
						<button v-on:click="answer">
							<p>B</p>
						</button>
					</div>
					<div class="accidentals-container">
						<button v-on:click="answer" class="C">Db</button>
						<button v-on:click="answer" class="D">Eb</button>
						<button v-on:click="answer" class="F">Gb</button>
						<button v-on:click="answer" class="G">Ab</button>
						<button v-on:click="answer" class="A">Bb</button>
					</div>
				</div>
			</div>

			<div class="font-semibold uppercase tracking-wide text-center py-8">Options</div>
			<div class="flex flex-wrap">
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['A']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('A')">A</div>
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['Bb']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('Bb')">Bb</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['B']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('B')">B</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['C']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('C')">C</div>
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['Db']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('Db')">Db</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['D']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('D')">D</div>
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['Eb']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('Eb')">Eb</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['E']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('E')">E</div>
						<div
							class="px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['B']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400 invisible">
							B</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['F']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('F')">F</div>
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['Gb']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('Gb')">Gb</div>
					</div>
				</div>
				<div class="w-full flex justify-center">
					<div class="flex" style="width: 13em;">
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['G']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('G')">G</div>
						<div v-bind:class="['px-10 py-1 my-1 mx-1 text-sm bg-gray-300 rounded rounded-sm cursor-pointer '+(mydata.notes['Ab']==true?'bg-blue-600 text-white hover:bg-blue-700':'hover:bg-gray-400')]"
							v-on:click="togglenote('Ab')">Ab</div>
					</div>
				</div>
			</div>
			<div class="flex w-full justify-center">
				<div><input type="checkbox" name="autoproceed" v-model="mydata.autoproceed" /><label
						for="autoproceed">Automatically proceed to the next interval after identifying the correct
						answer</label></div>
			</div>
			<div class="flex w-full justify-center">
				<div class="px-4 py-2 mx-2 rounded rounded-sm border border-gray-400 cursor-pointer bg-blue-600 hover:bg-blue-700 text-white"
					v-on:click="resetcounter">Reset counter</div>
			</div>
			<div class="flex w-full justify-center pt-10">
				<div>Choose your instrument:</div>
			</div>
			<div class="flex w-full justify-center">
				<div class="flex w-full justify-center">
					<select v-on:change="changeinstrument" class="" v-model="mydata.myinstrument">
						<option>acoustic_grand_piano</option>
						<option>accordion</option>
						<option>acoustic_bass</option>
						<option>acoustic_guitar_nylon</option>
						<option>acoustic_guitar_steel</option>
						<option>agogo</option>
						<option>alto_sax</option>
						<option>applause</option>
						<option>bagpipe</option>
						<option>banjo</option>
						<option>baritone_sax</option>
						<option>bassoon</option>
						<option>bird_tweet</option>
						<option>blown_bottle</option>
						<option>brass_section</option>
						<option>breath_noise</option>
						<option>bright_acoustic_piano</option>
						<option>celesta</option>
						<option>cello</option>
						<option>choir_aahs</option>
						<option>church_organ</option>
						<option>clarinet</option>
						<option>clavinet</option>
						<option>contrabass</option>
						<option>distortion_guitar</option>
						<option>drawbar_organ</option>
						<option>dulcimer</option>
						<option>electric_bass_finger</option>
						<option>electric_bass_pick</option>
						<option>electric_grand_piano</option>
						<option>electric_guitar_clean</option>
						<option>electric_guitar_jazz</option>
						<option>electric_guitar_muted</option>
						<option>electric_piano_1</option>
						<option>electric_piano_2</option>
						<option>english_horn</option>
						<option>fiddle</option>
						<option>flute</option>
						<option>french_horn</option>
						<option>fretless_bass</option>
						<option>fx_1_rain</option>
						<option>fx_2_soundtrack</option>
						<option>fx_3_crystal</option>
						<option>fx_4_atmosphere</option>
						<option>fx_5_brightness</option>
						<option>fx_6_goblins</option>
						<option>fx_7_echoes</option>
						<option>fx_8_scifi</option>
						<option>glockenspiel</option>
						<option>guitar_fret_noise</option>
						<option>guitar_harmonics</option>
						<option>gunshot</option>
						<option>harmonica</option>
						<option>harpsichord</option>
						<option>helicopter</option>
						<option>honkytonk_piano</option>
						<option>kalimba</option>
						<option>koto</option>
						<option>lead_1_square</option>
						<option>lead_2_sawtooth</option>
						<option>lead_3_calliope</option>
						<option>lead_4_chiff</option>
						<option>lead_5_charang</option>
						<option>lead_6_voice</option>
						<option>lead_7_fifths</option>
						<option>lead_8_bass__lead</option>
						<option>marimba</option>
						<option>melodic_tom</option>
						<option>music_box</option>
						<option>muted_trumpet</option>
						<option>oboe</option>
						<option>ocarina</option>
						<option>orchestra_hit</option>
						<option>orchestral_harp</option>
						<option>overdriven_guitar</option>
						<option>pad_1_new_age</option>
						<option>pad_2_warm</option>
						<option>pad_3_polysynth</option>
						<option>pad_4_choir</option>
						<option>pad_5_bowed</option>
						<option>pad_6_metallic</option>
						<option>pad_7_halo</option>
						<option>pad_8_sweep</option>
						<option>pan_flute</option>
						<option>percussion</option>
						<option>percussive_organ</option>
						<option>piccolo</option>
						<option>pizzicato_strings</option>
						<option>recorder</option>
						<option>reed_organ</option>
						<option>reverse_cymbal</option>
						<option>rock_organ</option>
						<option>seashore</option>
						<option>shakuhachi</option>
						<option>shamisen</option>
						<option>shanai</option>
						<option>sitar</option>
						<option>slap_bass_1</option>
						<option>slap_bass_2</option>
						<option>soprano_sax</option>
						<option>steel_drums</option>
						<option>string_ensemble_1</option>
						<option>string_ensemble_2</option>
						<option>synth_bass_1</option>
						<option>synth_bass_2</option>
						<option>synth_brass_1</option>
						<option>synth_brass_2</option>
						<option>synth_choir</option>
						<option>synth_drum</option>
						<option>synth_strings_1</option>
						<option>synth_strings_2</option>
						<option>taiko_drum</option>
						<option>tango_accordion</option>
						<option>telephone_ring</option>
						<option>tenor_sax</option>
						<option>timpani</option>
						<option>tinkle_bell</option>
						<option>tremolo_strings</option>
						<option>trombone</option>
						<option>trumpet</option>
						<option>tuba</option>
						<option>tubular_bells</option>
						<option>vibraphone</option>
						<option>viola</option>
						<option>violin</option>
						<option>voice_oohs</option>
						<option>whistle</option>
						<option>woodblock</option>
						<option>xylophone</option>
					</select>
				</div>
			</div>
			<div class="flex w-full justify-center p-5">
				<div>Statistics:</div>
			</div>
			<div class="">
				<div v-for="n in Object.entries(mydata.grandtotal).filter(n=>n[1]>0).sort((a,b)=>mydata.grandcorrect[a[0]]<mydata.grandcorrect[b[0]]||a[0]>b[0])"
					class="flex justify-center w-full">
					<div class="max-w-sm flex justify-around">
						<div class="w-16 text-center">{{n[0]}}</div>
						<div class="w-16 text-center">{{mydata.grandcorrect[n[0]]/n[1]*100}}%</div>
					</div>
				</div>
			</div>
			<canvas id="stat"></canvas>
		</div>
</body>

</html>